@import '../../styles/constants.css';

.page-header:global(.ant-page-header) {
    background-color: var(--dark-theme-header-bg);
    color: var(--dark-theme-text-color);
    font-size: 12px;
    justify-content: space-between;
    box-shadow: 0px 3px 3px black;
    z-index: 200;
}

.page-header {
    height: var(--header-height);
    display: flex;
    padding: 0 20px;
}

.page-header a {
    color: var(--dark-theme-primary-color);
}

.page-header :global(.ant-page-header-heading) {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 80%;
}

.page-header :global(.ant-page-header-footer) {
    margin-top: auto;
    margin-bottom: auto;
}

.page-header :global(.ant-page-header-back-button) img {
    width: 40px;
}

.page-header :global(.ant-page-header-heading-extra) {
    order: 1;
}

.page-header :global(.ant-page-header-heading-title) {
    color: var(--dark-theme-text-color);
    padding-left: 12px;
    order: 2
}

.page-header :global(.ant-page-header-heading-sub-title) {
    color: var(--dark-theme-text-color);
    order: 3;
}

.page-header :global(.ant-page-header-heading-tags) {
    order: 4;
}

.page-header :global(.ant-btn-ghost) {
    color: var(--dark-theme-primary-color);
    border-color: var(--dark-theme-primary-color);
    border-radius: 3px;
}

.home {
    margin-left: 20px;
    margin-right: 20px;
}