@import '../../styles/constants.css';

.page-header {
    position: relative;
    background-color: var(--dark-theme-header-bg);
    color: var(--dark-theme-text-color);
    font-size: 12px;
    display: flex;
    justify-content: space-between;
    box-shadow: 0px 3px 3px var(--dark);
    z-index: 200;
    height: var(--header-height);
    padding: 0 10px;
}

@media screen and (min-width: 480px) {
    .page-header {
        padding: 0 20px;
    }
}

.page-header img {
    padding-bottom: 5px;
}

.page-header a {
    color: var(--dark-theme-primary-color);
}

.page-header :global(.ant-page-header-heading) {
    width: 100%;
    align-items: center;
}

.page-header :global(.ant-page-header-heading-left) {
    width: 100%;
}

.page-header :global(.ant-page-header-heading-sub-title) {
    color: var(--dark-theme-text-color);
    display: block;
    width: 65%;
    padding-left: 18%;
}

.page-header :global(.ant-btn-primary) {
    text-shadow: none;
}

.page-header :global(.ant-btn-ghost) {
    color: var(--dark-theme-primary-color);
    border-color: var(--dark-theme-primary-color);
    border-radius: 3px;
    margin-left: 12px;
}

@media screen and (max-width: 768px) {
    .page-header :global(.ant-page-header-heading-left) {
        width: 65%;
    }

    .page-header :global(.ant-page-header-heading-title) {
        margin: 0;
    }
    
    /* Hide the Load Model button and the element containing the loaded
    trajectory name */
    .page-header :global(.ant-page-header-heading-sub-title),
    .page-header :global(.ant-btn-primary) {
        display: none;
    }

    .page-header :global(.ant-btn-ghost) {
        margin: 0;
    }
}

.home {
    margin-left: 2px;
    margin-right: 20px;
    font-weight: 400;
    font-size: 12px;
}

.verticalBar {
    display: inline-block;
    margin-right: 14px;
    margin-left: 14px;
    color: var(--dark-theme-header-text);
    font-size: 16px;
    font-weight: 100;
}

.buttons {
    width: 292px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}