.content {
    display: block;
    width: 100%;
    margin: auto;
}

.content h1, h2 {
    margin-bottom: 0px;
}

@media screen and (min-width: 576px) {
    .content h1, h2 {
        margin-top: -0.3em;
    }
}

/* Makes font size smaller for paragraph blocks on mobile */
@media screen and (max-width: 480px) {
    .content p {
        font-size: 0.8rem;
        margin-bottom: 1em;
    }
}

.panel {
    background-color: var(--light-theme-panel-light-gray);
    padding-left: 1.5em;
    padding-right: 1.5em;
    padding-top: 3em;
    padding-bottom: 2em;
    font-size: 20px;
}

/* Prevents content from horizontally spreading too much when browser window is very wide */
.panel * {
    max-width: 1010px;
    margin-left: auto;
    margin-right: auto;
}

.cards {
    max-width: 1500px;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: stretch;
}

.cards > * {
    margin-top: 2em;
    margin-left: 1em;
    margin-right: 1em;
}

.caption {
    margin-top: 1em;
    margin-bottom: 2.5em;
    font-size: 16px;
    text-align: center;
}

.try-simularium-panel {
    composes: panel;
    background-color: var(--light-theme-background-purple);
}

/* On larger screens, the flowchart width is 60% of parent div or 600px, whichever is larger.
On smaller screens the width is 100% of parent div. */
@media screen and (min-width: 768px) {
    .flowchart {
        width: 60%;
        min-width: 600px;
    }
}

.call-to-action-panel {
    composes: panel;
    padding: 3.5em;
}

.call-to-action-panel :global(.ant-btn) {
    display: block;
    width: 130px;
    height: 30px;
    font-size: 14px;
    margin-top: 3em;
    margin-bottom: 0.5em;
    margin-left: auto;
    margin-right: auto;
    transition: 0.3s;
    border-radius: 3px;
}

.call-to-action-panel :global(.ant-btn-primary),
.call-to-action-panel :global(.ant-btn-ghost:hover) {
    background-color: var(--light-theme-button-purple);
    color: var(--light-theme-background-purple);
}

.call-to-action-panel :global(.ant-btn-ghost),
:global(.ant-btn-primary:hover) {
    background-color: transparent;
    color: var(--light-theme-button-purple);
}

.future-simularium-panel {
    composes: panel;
    background-color: white;
}

.flowchart {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2em;
    margin-bottom: 3em;
}