.content {
    display: block;
    width: 100%;
    margin: auto;
}

.text {
    background-color: var(--landing-pg-panel-light-gray);
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 1em;
    padding-bottom: 20px;
    font-size: 20px;
}

.text > *, .trajectories {
    width: 1010px;
    margin-left: auto;
    margin-right: auto;
}

h1, h2 {
    text-align: center;
    font-weight: 400;
    margin-top: 0px;
    margin-bottom: 0px;
    color: var(--landing-pg-header-gray);
}

h1 {
    font-size: 36px;
}

h2 {
    font-size: 24px;
}

.library .text {
    background-color: inherit;
}

.trajectories {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: stretch;
}

.trajectories > * {
    margin-bottom: 50px;
}

.flowchart {
    width: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1em;
    margin-bottom: 1em;
}