.content {
    display: block;
    width: 100%;
    margin: auto;
}

.content h1, h2 {
    margin-top: -0.3em;
    margin-bottom: 0px;
}

.panel {
    background-color: var(--light-theme-panel-light-gray);
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 3em;
    padding-bottom: 2em;
    font-size: 20px;
}

/* Prevents content from horizontally spreading too much when browser window is very wide */
.panel > *, .cards {
    max-width: 1010px;
    margin-left: auto;
    margin-right: auto;
}

.cards {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: stretch;
    margin-top: 2.5em;
}

.cards > * {
    margin-bottom: 50px;
}

.about-simularium-panel {
    composes: panel;
    background-color: white;
}

/* Simularium overview flowchart image */

.flowchart {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1em;
    margin-bottom: 1em;
}

@media screen and (min-width: 600px) {
    .flowchart {
        width: 60%;
        min-width: 600px;
    }
}

.call-to-action-panel {
    padding-top: 3.5em;
    padding-bottom: 3.5em;
    background-color: var(--light-theme-background-purple);
    text-align: center;
}

.call-to-action-panel :global(.ant-btn) {
    width: 130px;
    height: 30px;
    font-size: 14px;
    margin-top: 3em;
    margin-bottom: 0.5em;
    margin-left: 1em;
    margin-right: 1em;
    transition: 0.3s;
    border-radius: 3px;
}

.call-to-action-panel :global(.ant-btn-primary),
.call-to-action-panel :global(.ant-btn-ghost:hover) {
    background-color: var(--light-theme-button-purple);
    color: var(--light-theme-background-purple);
}

.call-to-action-panel :global(.ant-btn-ghost),
:global(.ant-btn-primary:hover) {
    background-color: transparent;
    color: var(--light-theme-button-purple);
}