/* .menu {
    width: var(--dropdown-menu-width);
    box-shadow: 0 1px 3px black;
}

.menu svg {
    fill: var(--dark-theme-menu-text-color);
}

.menu :global(.ant-dropdown-menu-item) {
    padding-top: 0;
    padding-bottom: 0;
}

.menu :global(.ant-btn-ghost) {
    border: none;
    color: var(--dark-theme-menu-text-color);
    padding: 0;
    width: calc(var(--dropdown-menu-width) - 20px);
    text-align: left;
}

.menu :global(.ant-btn-ghost:hover) {
    color: var(--dark-theme-menu-text-hover);
}

.submenu {
    box-shadow: 0 1px 3px black;
    padding: 0;
    width: fit-content;
    right: 300px !important;
    left: auto !important;
} */

.container{
    padding-left: 14px;
    /* background-color: blue; */
}

.container :global(.ant-btn){
    color: var(--dark-theme-primary-color);
    background-color: var(--dark-theme-header-bg);
    border: none;
}

/* .container .download-button{
    padding-left: 14px;
} */
