@import "../../styles/constants.css";

.container {
    width: 100%;
    height: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    background: var(--dark-theme-body-bg);
    color: var(--dark-theme-text-color);
}
.container :global(.ant-layout-content) {
    background-color: var(--dark-theme-sidebar-bg);
    padding: 0 12px;
    height: calc(100vh - var(--header-height));
}

.content {
    position: relative;
    height: 100%;
}

.container :global(.ant-btn-ghost) {
    color: var(--dark-theme-primary-color);
    border-color: var(--dark-theme-primary-color);
}