.popover :global(.ant-popover-content) {
    width: 215px;
    box-shadow: 0px 3px 6px #000000;
}

.popover :global(.ant-popover-inner-content) {
    padding: 10px 8px;
    display: flex;
    justify-content: center;
}
