.container {
    background-color: var(--overlay-purple);
    height: calc(100vh - var(--header-height));
    width: 100%;
}

.form-content {
    padding-left: 30px;
    padding-top: 30px;
}

.title {
    font-size: 30px;
    font-weight: 600;
    letter-spacing: 0.05rem;
    margin-bottom: 0em;
    padding-bottom: 0px;
}

.section-header {
    font-size: 20px;
    font-weight: 600;
    padding-top: 30px;
    padding-bottom: 15px;
}

.select-title {
    font-size: 1.08em;
    margin-bottom: 0px;
}

.selector-box {
    margin-right: 20px;
    width: 200px;
}

/* two parent classes needed here to overide specificity of antd classes */
.upload-container .selector-box :global(.ant-select-selector) {
    border-radius: 3px;
    border: 1px solid var(--light-theme-select-border-color);
}

.upload-container {
    display: flex;
    max-height: 32px;
}

.upload {
    display: flex;
}

.upload :global(.ant-upload-span) {
    background-color: var(--overlay-purple);
}

.upload :global(.ant-upload-list) {
    padding-bottom: 7px;
}

.upload :global(.ant-upload-list-item) {
    margin-top: 6px;
}

.upload :global(.ant-upload-text-icon) {
    display: none;
}

.upload-container .remove-file-icon {
    display: flex;
    align-items: center;
    background: none;
    border: none;
    cursor: pointer;
    min-width: 16px;
    padding: 1px 0px 0px;
}

.remove-file-icon svg {
    fill: var(--delete-file-icon-color);
    transform: rotate(45deg);
}

.form-content button {
    margin-right: 15px;
    min-width: 80px;
    max-height: 30px;
}

.form-content span svg path {
    /* this makes the down arrow in the select box visible  */
    color: var(--light-theme-btn-default-color);
}

.container .loading-icon,
.container.loading-text {
    text-align: center;
}
