.container {
    background-color: var(--overlay-purple);
    height: calc(100vh - var(--header-height));
    width: 100%;
}

.form-content {
    padding-left: 30px;
    padding-top: 30px;
}

.title {
    font-size: 30px;
    font-weight: 600;
    letter-spacing: 0.05rem;
    margin-bottom: 0em;
    padding-bottom: 0px;
}

.section-header {
    font-size: 20px;
    font-weight: 600;
    padding-top: 30px;
    padding-bottom: 15px;
}

.select-title {
    margin-bottom: 0px;
}

.selector-box {
    margin-right: 20px;
    width: 200px;
}

.upload-container {
    display: flex;
    max-height: 32px;
}

.upload {
    display: flex;
}

.upload :global(.ant-upload-span) {
    background-color: var(--overlay-purple);
}

.upload :global(.ant-upload-list) {
    padding-bottom: 7px;
}
.upload :global(.ant-upload-list-item-card-actions-btn) {
    display: none;
}

.remove-file-icon {
    cursor: pointer;
    font-size: 18px;
    padding-top: 6px;
}

.remove-file-icon svg {
    fill: var(--delete-file-icon-color);
    transform: rotate(45deg);
}

.form-content button {
    margin-right: 20px;
    min-width: 80px;
}

.form-content span svg path {
    /* this makes the down arrow in the select box visible  */
    color: var(--light-theme-btn-default-color);
}

.container .loading-icon,
.container.loading-text {
    text-align: center;
}
