.container {
    height: calc(100vh - var(--header-height));
    width: 100%;
    background-color: var(--overlay-purple);
    z-index: 1000;
}

.form-content {
    padding-left: 30px;
    padding-top: 30px;
}

.title {
    font-size: 30px;
    padding-bottom: 0px;
    margin-bottom: 0em;
    font-weight: 600;
    letter-spacing: 0.05rem;
}

.section-header {
    padding-top: 30px;
    padding-bottom: 15px;
    font-weight: 600;
    font-size: 20px;
}

.select-title {
    margin-bottom: 0px;
}

.upload-container {
    display: flex;
    flex-direction: row;
}

.selector-box {
    width: 200px;
    margin-right: 20px;
}

.upload {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.container :global(.ant-upload-span) {
    background-color: var(--overlay-purple);
}

.form-content button {
    margin-right: 20px;
    min-width: 80px;
}

.form-content span svg path {
    /* this makes the down arrow in the select box visible  */
    color: var(--light-theme-btn-default-color);
}

.container .loading-icon,
.container.loading-text {
    text-align: center;
}
