/* Default and primary button colors differ within modals */
.light-theme :global(.ant-btn-default) {
    background-color: var(--light-button-default-background);
    border-color: var(--light-theme-modal-btn-default-color);
    color: var(--light-button-default-color);
}

.light-theme :global(.ant-btn-primary) {
    background-color: var(--light-theme-btn-primary-bg);
    border: none;
    color: #d8d8d8;
}

.light-theme :global(.ant-btn-primary[disabled]) {
    background: var(--light-button-disabled-background);
    border: none;
    color: #d8d8d8;
}

