/* Default and primary button colors differ within modals */
.modal :global(.ant-modal-content) {
    /* prevents modal body color rendering under header/footer at corners */
    border-radius: 3px;
}

.modal :global(.ant-modal-title) {
    text-align: center;
    font-weight: bold;
    font-size: 14px;
}

.modal :global(.ant-modal-footer) {
    padding: 12px 16px 20px;
    background-color: var(--light-theme-modal-content-bg);
    max-height: 56px;
}

.modal :global(.ant-modal-body) {
    padding: 24px 24px 0px 24px;
    font-size: 16px;
    color: var(--dark);
}

.modal :global(.ant-modal-header) {
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.modal :global(.ant-modal-close-x) {
    height: 40px;
    display: flex;
    align-items: center;
}

.modal :global(.ant-checkbox-inner) {
    background-color: transparent;
    border: 1px solid var(--dark-three) !important;
}

.modal :global(.ant-input-affix-wrapper) {
    border: 1px solid var(--input-border-highlight);
    border-radius: 3px;
}

.modal :global(.ant-divider) {
    margin: 0px;
    position: absolute;
    left: 0;
    background-color: var(--heather);
}

.modal :global(.ant-modal-close):hover{
    color: var(--white-three);
}

.modal :global(.ant-modal-footer) button {
    width: 82px;
}