.modal :global(.ant-modal-content) {
    /* prevents modal body color rendering under header/footer at corners */
    border-radius: 3px;
}

.modal :global(.ant-modal-title) {
    text-align: center;
    font-weight: bold;
}
