.container, .container:global(.ant-upload.ant-upload-drag){
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: 300;
    background-color: rgba(231, 228, 242, 1);
    padding-left: 30px;  
    padding-top: 30px;
}

.container .loading-icon, .container.loading-text {
    text-align: center;
}

.container {
    /* display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center; */
}



.title {
    display:inline-block; 
    vertical-align:middle;
}

