.container{
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: 300;
    background-color: rgba(231, 228, 242, 1);
    padding-left: 30px;  
    padding-top: 30px;
}

.container .loading-icon, .container.loading-text {
    text-align: center;
}

.upload {
    display: flex;
    flex-direction: row;
    align-items: center;
}


.upload-container {
    display: flex;
    flex-direction: row;
}

.selector-box {
    width: 200px;
    margin-right: 20px;
}

.container button {
    margin-right: 20px;
    min-width: 80px;
}

.container span svg path {
    fill: black
}

.title {
    font-size: 30px;
    padding-bottom: 0px;
    margin-bottom: 0em;
    font-weight: 600;
    letter-spacing: .05rem;
}

.provide {
    padding-top: 30px;
    padding-bottom: 15px;
    font-weight: 600;
    font-size: 20px;
}

.selecttitle {
    margin-bottom: 0px;
}

:global(.ant-input) {
    width: 200px;
}

/* :global(.ant-select-in-form-item) {
    width: 200px;
} */

/* .particle-selector {
    width: 200px;
} */

.my-form {
    display: grid;
    grid-template-columns: repeat(4, 200px);
    grid-template-rows: auto auto;
    grid-gap: 16px;
}

.my-select {
    width: 100%;
}