.container {
    display: flex;
    flex-grow: 1;
    justify-content: space-evenly;
}

.minimal-controls-container {
    display: flex;
    flex-grow: 1;
    justify-content: space-evenly;
}

.button-container {
    display: flex;
    gap: 4px;
}

.container :global(.ant-input-number) {
    background-color: transparent;
}

.container :global(.ant-input-number input) {
    color: var(--dark-theme-viewport-button-color);
    padding: 0 3px;
}

/* Hide the up/down buttons in the time input box */
.container :global(.ant-input-number-handler-wrap) {
    display: none;
}

.container .slider-container {
    flex: 3;
    margin: 10px;
    position: relative;
}

.container .slider {
    margin: 0;
    padding: 0;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.container .slider :global(.ant-slider-handle) {
    inset-block-start: 0px;
}

.container .playback-slider {
    z-index: 2;
}

.container .playback-slider :global(.ant-slider-track),
.container .playback-slider :global(.ant-slider-rail) {
    background-color: transparent;
}

.container .cache-slider {
    z-index: 1;
}

.container .cache-slider :global(.ant-slider-handle) {
    display: none;
}

.time {
    background-color: var(--dark-theme-viewport-button-bg);
    color: var(--dark-theme-viewport-button-color);
    height: 26px;
    min-width: 100px;
    padding: 1px 7px 4px 7px;
    border-radius: 3px;
    text-align: center;
    margin-right: 4px;
}

.lastFrameTime {
    color: var(--dark-theme-dim-color);
}

.remove-border {
    border: none;
}