.container {
    position: absolute;
    display: flex;
    bottom: 0;
    right: 25%;
    width: 50%;
    justify-content: space-evenly;
    margin-bottom: 20px;
}

.item {
    margin: auto 2px;
}

.btn {
    background-color: var(--dark-three);
    color: var(--white-three);
    border-radius: 3px!important;
}

.btn[disabled] {
    background-color: var(--dark-two);
    color: rgb(231 231 231 / 32%);

}
.slider {
    flex: 3;
    margin: auto 10px;
}

.slider :global(.ant-slider-track) {
    background-color: var(--white-three);
}

.slider :global(.ant-slider-track),
.slider :global(.ant-slider-rail) {
    border-radius: 3px;
}