.container {
    position: absolute;
    display: flex;
    bottom: 0;
    right: 25%;
    width: 50%;
    justify-content: space-evenly;
    margin-bottom: 20px;
}

.container :global(.ant-input-number) {
    background-color: transparent;
}

.container :global(.ant-input-number input) {
    color: var(--viewer-btn-color-default);
    padding: 0 3px;
}

/* Hide the up/down buttons in the time input box */
.container :global(.ant-input-number-handler-wrap) {
    display: none;
}

.container .btn, .container :global(.ant-btn) {
    /* this works to set height and other qualties  */
    height: 26px;
    width: 26px;
    border-radius: 3px;
    background-color: var(--viewer-btn-bg-default);
    color: var(--viewer-btn-color-default);
    border: none;
}

.container .btn:hover {
    color: var(--viewer-btn-color-default);
    background-color: var(--viewer-btn-bg-hover);
    border: 1px solid var(--viewer-btn-border-active);
}

.container .btn.active {
    color: var(--viewer-btn-color-default);
    background-color: var(--viewer-btn-bg-default);
    border: 1px solid var(--viewer-btn-border-active);
}

.container .btn.active:hover {
    color: var(--viewer-btn-color-default);
    background-color: var(--viewer-btn-bg-hover);
    border: 1px solid var(--viewer-btn-border-active);
}

.container .btn button[disabled] {
    background-color: var(--viewer-btn-bg-disabled);
    color: var(--viewer-btn-color-disabled);
}

.container .button-spacing {
    margin-left: 4px;
    margin-right: 4px;
}

.container .slider {
    flex: 3;
    margin: auto 10px;
}

.container .slider :global(.ant-slider-track) {
    background-color: var(--viewer-btn-color-default);
}

.container .slider :global(.ant-slider-track),
.container .slider :global(.ant-slider-rail) {
    border-radius: 3px;
}

.container .slider :global(.ant-slider-handle) {
    background-color: var(--viewer-btn-color-default);
    border: none;
    height: 10px;
    width: 10px;
    margin-top: -3.5px;
}

.container .slider :global(.ant-slider-handle):focus {
    box-shadow: none;
}

.time {
    font-weight: 300;
    background-color: var(--viewer-btn-bg-default);
    color: var(--viewer-btn-color-default);
    height: 26px;
    min-width: 100px;
    padding: 1px 7px 4px 7px;
    border-radius: 3px;
    text-align: center;
    margin-right: 4px;
}

.lastFrameTime {
    color: var(--dark-theme-btn-color-dim);
}

.custom-step-button,
.custom-step-button :global(.ant-btn) {
    padding: 0;
    width: 24px;
    height: 24px;
}

.container .anticon svg {
    height: 24px;
    width: 24px;
    color: var(--viewer-btn-color-default);
}

.container :global(.ant-btn-loading-icon) {
    color: var(--viewer-btn-color-default);
    margin: auto 2px;
}