.container {
    display: flex;
    flex-direction: column;
    height: 100%;
    position: relative;
    justify-content: space-between;
}

.container label {
    color: var(--dark-theme-sidebar-text) !important;
}

.card {
    flex: 1;
    background-color: var(--dark-theme-sidebar-bg);
}

.divider {
    background-color: var(--dark-theme-divider);
    box-sizing: content-box;
    padding-left: 10px;
    margin: 0px;
}

.card :global(.ant-card-head-title) {
    color: var(--dark-theme-sidebar-text);
}

.card :global(.ant-card-body) {
    background: var(--dark-theme-sidebar-bg);
}

.card :global(.ant-card-head) {
    background-color: var(--dark-theme-sidebar-header-bg);
    height: 44px;
    padding: 0 20px;
    display: flex;
    align-items: center;
    border: none;
}