.error-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.share-container {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.url-input-container {
    display: flex;
    gap: 6px;
}

.url-input[disabled]:global(.ant-input) {
    flex-grow: 1;
    color: var(--light-theme-modal-input-color);
    background-color: var(--light-theme-modal-input-bg);
    cursor: auto;
    direction: rtl;
    width: 395px;
}

.copy-button {
    display: flex;
    align-items: center;
    gap: 6px;
}

.copy-button span:global(.anticon) {
    margin: 0px;
    padding-top: 2px;
}

.time-input-container {
    align-items: center;
    display: flex;
    gap: 7px;
}

.time-input,
.time-input[disabled] {
    text-align: right;
    width: 64px;
}

.time-input-text {
    margin: 0px;
}
