.container {
    background-color: var(--dark);
}

.sub-menu {
    flex-flow: row;
}

.sub-menu :global(.ant-col-offset-3) {
    margin-left: 13.4%;
}

.header-label {
    margin-left: 8px;
    max-width: 120px;
    font-weight: 200;
}

.checkbox-set {
    width: 53px;
}

.checkbox-set :global(.ant-checkbox) {
    top: 12px;
}

.container .checkbox-labels {
    display: flex;
    flex-direction: column;
}

.row-label-container {
    display: inline-block;
    height: 40px;
    padding: 2px 0;
}

.row-label {
    margin-left: 8px;
    font-weight: 200;
    vertical-align: text-top;
    display: inline-block;
    height: 16px;
    line-height: 1;
}

.container :global(.ant-checkbox-inner) {
    border-color: var(--warm-gray);
}

.container :global(.ant-checkbox-indeterminate .ant-checkbox-inner::after) {
    background-color: var(--dark-theme-header-bg);
    height: 2px;
}

.check-all-checkbox {
    width: 100%;
    margin-left: 82px; /* to line up with the checkboxes below */
    padding: 10px 0;
}

.no-children-row {
    margin-left: 32px;
}

.no-children-row :global(.ant-checkbox-wrapper) {
    width: 30px;
    height: 40px;
}

.check-all-checkbox :global(.ant-checkbox) {
    margin-right: 12px;
}

.star-icon::after {
    content: "\e902";
    color: var(--white-two);
}

.container :global(.ant-typography-ellipsis) {
    color: var(--dark-theme-sidebar-text)
}

.container :global(.header-checkbox .ant-checkbox) {
    top: 3.5px;
}

.container .checkbox-column, .container .color-swatch-column  {
    width: 35px;
}