/* Overrides styling for the default Ant Design theme found here:
https://github.com/ant-design/ant-design/blob/master/components/style/themes/default.less */

@dark: #141219;
@dark-two: #1e1b25;
@dark-three: #25222e;
@dark-four: #2f2a3c;
@white-six: #e7e7e7;
@baby-purple: #b59ff6;
@dark-purple: #3b3649;
@allen-purple: #8d87aa;
@grayish-brown: #4a4a4a;
@highlight-green: #b2d030;
@blue: #0094FF;
@medium-dark-gray: #8b8b8b;
@pale-gray: #ddd9ec;
@warm-gray: #979797;
@heather: #bab5c9;

// -------- Colors -----------
@primary-color          : @baby-purple;
@success-color          : @highlight-green;
@highlight-color        : @baby-purple;
@warning-color          : @gold-6;
@normal-color           : #d9d9d9;
@background-color       : @white-six;
@disabled-color         : fade(@primary-color, 10%);
@disabled-bg            : @background-color;
// Border color
@border-color-base      :  @dark-three;  // base border outline a component

@border-radius-base : 0;

// Color used by default to control hover and active backgrounds and for
// alert info backgrounds.
@primary-5: color(~`colorPalette("@{primary-color}", 5)`);  // color used to control the text color in many active and hover states, replace tint(@primary-color, 20%)
@primary-6: @primary-color;                                 // color used to control the text color of active buttons, don't use, use @primary-color
@primary-7: color(~`colorPalette("@{primary-color}", 7)`);  // replace shade(@primary-color, 5%)


// Background color for `<body>`
@body-background        : #f7f7f7;
//// Base background color for most components
@component-background   : #f7f7f7;
// @heading-color          : @dark-three;
@font-family: 'Overpass', sans-serif, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial,
  'Noto Sans', sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol',
  'Noto Color Emoji';
@text-color             : @grayish-brown;
//@text-color-secondary   : darken(#fff, 40%);

@background-color-light : lighten(@dark-three, 10%);  // background of header and selected item
//@background-color-base  : hsv(0, 0, 96%);  // Default gray background color

// The background colors for active and hover states for things like
// list items or table cells.
//@item-active-bg         : @baby-purple;
//@item-hover-bg          : @primary-5;

// @card-actions-background: @dark-three;

// LINK
@link-color : @blue;
@link-hover-color       : color(~`colorPalette("@{link-color}", 3)`);
@link-active-color      : color(~`colorPalette("@{link-color}", 3)`);
@link-decoration        : none;
@link-hover-decoration  : none;

// Layout
@layout-body-background         : @background-color;
@layout-header-background        : @dark-three;
@layout-footer-background       : darken(@dark-three, 10%);
@layout-header-height           : 60px;
@layout-header-padding          : 0px;
//@layout-footer-padding          : 24px 50px;
@layout-sider-background: @dark;
//@layout-trigger-height          : 48px;
@layout-trigger-background      : @dark;
@layout-trigger-color           : @baby-purple;
@layout-zero-trigger-width      : 30px;
@layout-zero-trigger-height     : 100%;
//// Layout light theme
@layout-sider-background-light  : #fff;
@layout-trigger-background-light: #fff;
@layout-trigger-color-light     : @text-color;

//Dropdown
@dropdown-menu-bg: @dark-four;
@dropdown-vertical-padding: 5px;
@dropdown-edge-child-vertical-padding: 4px;
@dropdown-font-size: @font-size-base;
@dropdown-line-height: 22px;

// Buttons
@btn-font-weight        : 400;
@btn-border-radius-base : 3px;
@btn-border-radius-sm   : 3px;

@btn-primary-color      : @dark-two;
@btn-primary-bg         : @primary-color;
@btn-primary-border     : @primary-color;

@btn-default-color      : @normal-color;
@btn-default-bg         : @dark-two;
@btn-default-border     : @dark-two;

@btn-danger-color       : @error-color;
@btn-danger-bg          : @background-color-base;
@btn-danger-border      : @border-color-base;

@btn-disable-color      : fade(@text-color, 80%);
@btn-disable-bg         : fade(lighten(@dark, 20%), 70%);
@btn-disable-border     : fade(lighten(@dark, 20%), 70%);

@btn-default-ghost-color: @primary-color;
@btn-default-ghost-bg: transparent;
@btn-default-ghost-border: @primary-color;

@btn-padding-base       : 0 @padding-md - 1px;
@btn-font-size-lg       : @font-size-lg;
@btn-font-size-sm       : @font-size-base;
@btn-padding-lg         : @btn-padding-base;
@btn-padding-sm         : 0 @padding-xs - 1px;

@btn-height-base        : 32px;
@btn-height-lg          : 40px;
@btn-height-sm          : 24px;

@btn-circle-size        : @btn-height-base;
@btn-circle-size-lg     : @btn-height-lg;
@btn-circle-size-sm     : @btn-height-sm;

@btn-group-border       : @primary-5;

// Checkbox
@checkbox-size: 16px;
@checkbox-color: @white-six;
@checkbox-check-color: @dark-three;
@checkbox-check-bg: @white-six;
@checkbox-border-width: @border-width-base;
@checkbox-group-item-margin-right: 8px;

// Radio buttons
@radio-button-bg: @black;
@radio-button-checked-bg: @dark-three;
@radio-button-color: @grayish-brown;
@radio-button-hover-color: @primary-5;
@radio-button-active-color: @dark-three;
@radio-disabled-button-checked-bg: tint(@black, 90%);
@radio-disabled-button-checked-color: @disabled-color;
@radio-wrapper-margin-right: 8px;

// Form
// ---
// @label-required-color: @highlight-color;
@label-color: @dark;
// @form-warning-input-bg: @input-bg;
// @form-item-margin-bottom: 0px;
// @form-item-trailing-colon: true;
@form-vertical-label-padding: 0 0 4px;
// @form-vertical-label-margin: 0;
@form-item-label-font-size: 16px;
// @form-item-label-height: @input-height-base;
// @form-item-label-colon-margin-right: 8px;
// @form-item-label-colon-margin-left: 2px;
// @form-error-input-bg: @input-bg;

// Input
// ---
//@input-height-base           : 32px;
//@input-height-lg             : 40px;
//@input-height-sm             : 24px;
//@input-padding-horizontal    : @control-padding-horizontal - 1px;
//@input-padding-horizontal-base: @input-padding-horizontal;
//@input-padding-horizontal-sm : @control-padding-horizontal-sm - 1px;
//@input-padding-horizontal-lg : @input-padding-horizontal;
//@input-padding-vertical-base : 4px;
//@input-padding-vertical-sm   : 1px;
//@input-padding-vertical-lg   : 6px;
@input-placeholder-color     : @medium-dark-gray;
//@input-color                 : @primary-color;
@input-border-color          : @medium-dark-gray;
@input-bg                    : @component-background;
//@input-addon-bg              : @background-color-light;
@input-hover-border-color    : @baby-purple;
//@input-disabled-bg           : @disabled-bg;
//@input-outline-offset        : 0 0;

// Modal
// --
// @modal-header-padding-vertical: @padding-md;
// @modal-header-padding-horizontal: @padding-lg;
// @modal-body-padding: @padding-lg;
@modal-header-bg: @dark-four;
// @modal-header-padding: @modal-header-padding-vertical @modal-header-padding-horizontal;
@modal-header-border-width: 0px;
// @modal-header-border-style: @border-style-base;
// @modal-header-title-line-height: 22px;
// @modal-header-title-font-size: @font-size-lg;
// @modal-header-border-color-split: @border-color-split;
// @modal-header-close-size: 56px;
@modal-content-bg: #e7e4f2;
@modal-heading-color: #fff;
@modal-close-color: @warm-gray;
@modal-footer-bg: #f6f4ff;
@modal-footer-border-color-split: @heather;
@modal-footer-border-width: 1px;
// @modal-footer-border-style: @border-style-base;
@modal-footer-padding-vertical: 16px;
@modal-footer-padding-horizontal: 20px;
@modal-footer-border-width: 0px;
// @modal-mask-bg: fade(@black, 45%);
// @modal-confirm-body-padding: 32px 32px 24px;
@modal-border-radius: 2px;

// Collapse
// ---
@collapse-header-padding: @padding-sm @padding-md;
@collapse-header-padding-extra: 40px;
@collapse-header-bg: @dark-three;
@collapse-content-padding: @padding-md;
@collapse-content-bg: @dark-two;
@collapse-header-arrow-left: 16px;

// PageHeader
// ---
@page-header-padding: @padding-lg;
@page-header-padding-vertical: @padding-md;
@page-header-padding-breadcrumb: @padding-sm;
@page-header-content-padding-vertical: @padding-sm;
@page-header-back-color: #000;
@page-header-ghost-bg: inherit;
@page-header-heading-title: 14px;
@page-header-heading-sub-title: 14px;
@page-header-tabs-tab-font-size: 16px;

// Slider
// ---
@slider-margin:                       14px 6px 10px;
@slider-rail-background-color:        @background-color-light;
@slider-rail-background-color-hover:  #e1e1e1;
@slider-track-background-color:       @primary-3;
@slider-track-background-color-hover: @primary-4;
@slider-handle-color:                 @primary-3;
@slider-handle-color-hover:           @primary-4;
@slider-handle-color-focus:           tint(@primary-color, 20%);
@slider-handle-color-focus-shadow:    tint(@primary-color, 50%);
@slider-handle-color-tooltip-open:    @primary-color;
@slider-dot-border-color:             @border-color-split;
@slider-dot-border-color-active:      tint(@primary-color, 50%);
@slider-disabled-color:               @disabled-color;
@slider-disabled-background-color:    @component-background;

// dark theme
@menu-dark-color: @text-color-secondary-dark;
@menu-dark-danger-color: @error-color;
@menu-dark-bg: @dark-four;
@menu-dark-arrow-color: #fff;
@menu-dark-submenu-bg: #000c17;
@menu-dark-highlight-color: #fff;
@menu-dark-item-active-bg: @primary-color;
@menu-dark-item-active-danger-bg: @error-color;
@menu-dark-selected-item-icon-color: @white;
@menu-dark-selected-item-text-color: @white;
@menu-dark-item-hover-bg: transparent;

// Tag
@tag-default-bg: @allen-purple;
@tag-default-color: @white-six;

// Tabs
@tabs-card-active-color: @dark-four;
@tabs-ink-bar-color: @dark-four;
@tabs-hover-color: @dark-four;
@tabs-active-color: @dark-four;
@tabs-highlight-color: @dark-four;
@tabs-title-font-size-lg: @font-size-base + 4px;
@tabs-horizontal-margin: 0 0 0 12px;

// Popover
// ---
// Popover body background color
@popover-bg: @dark-purple;
// Popover text color
@popover-color: #fff;
// Popover maximum width
@popover-min-width: 177px;
@popover-min-height: 32px;
// Popover arrow width
@popover-arrow-width: 6px;
// Popover arrow color
@popover-arrow-color: @popover-bg;
// Popover outer arrow width
// Popover outer arrow color
@popover-arrow-outer-color: @popover-bg;
// Popover distance with trigger
@popover-distance: 0px;
@popover-padding-horizontal: @padding-md;