:root {
    --black: #000000;
    --dark: #141219;
    --dark-two: #1e1b25;
    --dark-three: #25222e;
    --dark-four: #2f2a3c;
    --pure-white: #ffffff;
    --off-white: #f8f8f8;
    --white-four: #f2f2f2;
    --white-six: #e7e7e7;
    --transparent-white: rgba(255, 255, 255, 0.65);
    --dim-gray: #383838;
    --pale-grey: #ddd9ec;
    --text-gray: #a0a0a0;
    --greyish-brown: #4a4a4a;
    --dim-gray: #383838;
    --dark-blue-grey: #2d224d;
    --background-dark-gray: #131313;
    --baby-purple: #b59ff6;
    --background-dim-gray: var(--dim-gray);
    --border-gray: var(--white-six);
    --dark-theme-primary-color: var(--baby-purple);
    --dark-theme-body-bg: var(--black);
    --dark-theme-header-bg: var(--dark-three);
    --dark-theme-component-bg: var(--dark-four);
    --dark-theme-text-color: var(--off-white);
    --dark-theme-menu-text-color: var(--transparent-white);
    --dark-theme-sidebar-bg: var(--dark);
    --light-theme-background-purple: var(--pale-grey);
    --light-theme-button-purple: var(--dark-blue-grey);
    --light-theme-heading1-gray: var(--dark-three);
    --light-theme-heading2-gray: var(--greyish-brown);
    --light-theme-panel-light-gray: var(--white-four);
    --light-theme-button-light-gray: var(--white-four);
    --light-theme-card-bg-white: var(--pure-white);
}

