:root {
    --black: #000000;
    --dark: #141219;
    --dark-two: #1e1b25;
    --dark-three: #25222e;
    --dark-four: #2f2a3c;
    --dark-five: #3c384a;
    --pure-white: #ffffff;
    --off-white: #f8f8f8;
    --white-two: #d3d3d3;
    --white-three: #d8d8d8;
    --white-four: #f2f2f2;
    --white-six: #e7e7e7;
    --transparent-white: rgba(255, 255, 255, 0.65);
    --dim-gray: #383838;
    --dim-gray-two: #6E6E6E;
    --purplish-gray: #4A4658;
    --pale-grey: #ddd9ec;
    --heather: #bab5c9;
    --text-gray: #a0a0a0;
    --grayish-brown: #4a4a4a;
    --warm-gray: #979797;
    --charcoal-grey: #3b3649;
    --dark-blue-grey: #2d224d;
    --background-dark-gray: #131313;
    --baby-purple: #b59ff6;
    --allen-purple: #8d87aa;
    --blue: #0094FF;
    --modal-content-bg: #e7e4f2;
    --baby-purple-two: #DCCFFF;
    --medium-grey: #AEAEAE;
    --dark-blue-gray: #69738A;
    --background-dim-gray: var(--dim-gray);
    --border-gray: var(--white-six);
    --footer-bg: var(--dark-three);
    --footer-text: var(--warm-gray);
    --footer-text-border-bottom: var(--greyish-brown);
    --footer-link: var(--blue);
    --input-border-highlight: var(--heather);
    --dark-theme-primary-color: var(--baby-purple);
    --dark-theme-body-bg: var(--black);
    --dark-theme-header-bg: var(--dark-three);
    --dark-theme-header-text: var(--text-gray);
    --dark-theme-component-bg: var(--dark-four);
    --dark-theme-input-border: var(--white-two);
    --dark-theme-text-color: var(--off-white);
    --dark-theme-popover-text: var(--white-two);
    --dark-theme-menu-text-color: var(--transparent-white);
    --dark-theme-menu-text-hover: var(--pure-white);
    --dark-theme-agent-dropdown-toggle: var(--warm-gray);
    --dark-theme-agent-dropdown-toggle-hover: var(--pure-white);
    --dark-theme-sidebar-bg: var(--dark);
    --dark-theme-sidebar-header-bg: var(--dark-three);
    --dark-theme-sidebar-item-bg: var(--dark-two);
    --dark-theme-sidebar-text: var(--white-two);
    --dark-theme-btn-bg: var(--dark-three);
    --dark-theme-btn-color: var(--white-three);
    --dark-theme-btn-color-dim: var(--text-gray);
    --dark-theme-btn-hover-bg: var(--greyish-brown);
    --dark-theme-btn-disabled-bg: var(--dark-two);
    --dark-theme-btn-disabled-color: rgb(231 231 231 / 32%);
    --dark-theme-btn-primary: var(--baby-purple);
    --dark-theme-btn-primary-text: var(--dark-two);
    --dark-theme-slider-color: var(--white-three);    
    --dark-theme-tooltip-bg: var(--charcoal-grey);
    --dark-theme-version-badge-purple: var(--dark-five);
    --dark-theme-star-icon-color: var(--warm-gray);
    --dark-theme-star-icon-active-color: var(--white-two);
    --light-theme-background-purple: var(--pale-grey);
    --light-theme-button-purple: var(--dark-blue-grey);

    --light-theme-button-primary-text: var(--white-three);
    --light-theme-button-primary-bg: var(--dark-blue-grey);
    --light-theme-button-primary-text-hover: var(--baby-purple);
    --light-theme-button-primary-border-hover: var(--dark-four);
    --light-theme-button-primary-text-disabled: var(--white-three);
    --light-theme-button-primary-bg-disabled: var(--heather);


    --light-theme-button-secondary-text: var(--dark-four);
    --light-theme-button-secondary-border: var(--dark-four);
    --light-theme-button-secondary-text-hover: var(--baby-purple);
    --light-theme-button-secondary-bg-hover: var(--charcoal-grey);
    --light-theme-button-secondary-text-disabled: var(--heather);
    --light-theme-button-primary-border-disabled: var(--heather);


    --light-theme-heading1-gray: var(--dark-three);
    --light-theme-heading2-gray: var(--greyish-brown);
    --light-theme-panel-light-gray: var(--white-four);
    --light-theme-button-light-gray: var(--white-four);
    --light-theme-card-bg-white: var(--pure-white);
    --light-theme-version-badge-purple: var(--allen-purple);
    --light-theme-background-off-white: var(--off-white);
    --light-theme-faint-text: var(--white-two);
    --light-theme-modal-supplemental-text: var(--charcoal-grey);
    --light-theme-modal-btn-default-color: var(--dark-four);
    --light-theme-btn-default-disabled-bg: var(--heather);
    --color-picker-tooltip: var(--dark-blue-gray);
    --viewer-btn-bg-default: var(--dark-three);
    --viewer-btn-bg-hover: var(--purplish-gray);
    --viewer-btn-bg-disabled: var(--dark-three);
    --viewer-btn-border-active: var( --white-three);
    --viewer-btn-border-on: var(--dim-gray-two);
    --viewer-btn-color-default: var(--white-three);
    --viewer-btn-color-disabled: var(--grayish-brown);
}
