:root {
    --black: #000000;
    --dark: #141219;
    --dark-two: #1e1b25;
    --dark-three: #25222e;
    --dark-four: #2f2a3c;
    --dark-five: #3c384a;
    --pure-white: #ffffff;
    --off-white: #f8f8f8;
    --white-two: #d3d3d3;
    --white-three: #d8d8d8;
    --white-four: #f2f2f2;
    --white-six: #e7e7e7;
    --transparent-white: rgba(255, 255, 255, 0.65);
    --dim-gray: #383838;
    --pale-grey: #ddd9ec;
    --heather: #bab5c9;
    --text-gray: #a0a0a0;
    --greyish-brown: #4a4a4a;
    --warm-gray: #979797;
    --charcoal-grey: #3b3649;
    --dark-blue-grey: #2d224d;

    --particle-purple: #F6F4FF;

    --background-dark-gray: #131313;
    --baby-purple: #b59ff6;
    --allen-purple: #8d87aa;
    --blue: #0094FF;
    --overlay-purple: #E7E4F2;
    --true-gray: ##737373;
    --background-dim-gray: var(--dim-gray);
    --border-gray: var(--white-six);
    --footer-bg: var(--dark-three);
    --footer-text: var(--warm-gray);
    --footer-text-border-bottom: var(--greyish-brown);
    --footer-link: var(--blue);
    --side-panel-tooltip: var(--charcoal-grey);
    --input-border-highlight: var(--baby-purple);
    --dark-theme-primary-color: var(--baby-purple);
    --dark-theme-body-bg: var(--black);
    --dark-theme-header-bg: var(--dark-three);
    --dark-theme-header-text: var(--text-gray);
    --dark-theme-component-bg: var(--dark-four);
    --dark-theme-text-color: var(--off-white);
    --dark-theme-menu-text-color: var(--transparent-white);
    --dark-theme-menu-text-hover: var(--pure-white);
    --dark-theme-agent-dropdown-toggle: var(--warm-gray);
    --dark-theme-agent-dropdown-toggle-hover: var(--pure-white);
    --dark-theme-sidebar-bg: var(--dark);
    --dark-theme-sidebar-header-bg: var(--dark-three);
    --dark-theme-sidebar-item-bg: var(--dark-two);
    --dark-theme-sidebar-text: var(--white-two);
    --dark-theme-btn-bg: var(--dark-three);
    --dark-theme-btn-color: var(--white-three);
    --dark-theme-btn-color-dim: var(--text-gray);
    --dark-theme-btn-hover-bg: var(--greyish-brown);
    --dark-theme-btn-disabled-bg: var(--dark-two);
    --dark-theme-btn-disabled-color: rgb(231 231 231 / 32%);
    --dark-theme-btn-primary: var(--baby-purple);
    --dark-theme-btn-primary-text: var(--dark-two);
    --dark-theme-slider-color: var(--white-three);    
    --dark-theme-tooltip-bg: var(--dark);
    --dark-theme-version-badge-purple: var(--dark-five);
    --light-theme-background-purple: var(--pale-grey);
    --light-theme-button-purple: var(--dark-blue-grey);
    --light-theme-heading1-gray: var(--dark-three);
    --light-theme-heading2-gray: var(--greyish-brown);
    --light-theme-panel-light-gray: var(--white-four);
    --light-theme-button-light-gray: var(--white-four);
    --light-theme-card-bg-white: var(--pure-white);
    --light-theme-version-badge-purple: var(--allen-purple);
    --light-theme-background-off-white: var(--off-white);
    --light-theme-faint-text: var(--white-two);
    --light-theme-modal-supplemental-text: var(--charcoal-grey);
    --light-theme-btn-default-color: var(--dark-four);
    --light-theme-btn-default-disabled-bg: var(--heather);

    --light-theme-btn-primary-color: var(--white-three);
    --light-theme-btn-primary-disabled-color: var(--true-gray);
    --light-theme-btn-primary-bg: var(--dark-four);
    --light-theme-btn-primary-disabled-bg: var(--heather);
    
    
}
/* background color and color for deafult primary and primary disabled*/

