.container {
    margin: auto;
    text-align: center;
}

.container :global(.xtitle[style]), :global(.ytitle[style]), :global(.xtick), :global(.ytick) {
    font-weight: 200 !important;
}

.container :global(.js-plotly-plot) {
    margin-bottom: 5px;
}