.container {
    margin: auto;
    text-align: center;
}

/* cspell:disable-next-line */
.container :global(.xtitle), :global(.ytitle), :global(.xtick), :global(.ytick) {
    font-weight: 200 !important;
}

.container :global(.js-plotly-plot) {
    margin-bottom: 5px;
}