.container {
    margin: auto;
    text-align: center;
}

.container :global(.xtitle[style]), :global(.ytitle[style]) {
    font-weight: 200 !important;
}

.container :global(.xtick), :global(.ytick) {
    font-weight: 200 !important;
}