.container {
    position: absolute;
    display: flex;
    flex-direction: column;
    bottom: 0;
    right: 20px;
    justify-content: space-evenly;
    margin-bottom: 20px;
}

.radio-group {
    display: flex;
    flex-flow: column;
}
.zoom-buttons {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 60px;
}

.btn {
    background-color: var(--dark-theme-btn-bg);
    color: var(--dark-theme-btn-color);
    border-radius: 3px!important;
}

.radio-btn {
    border-color: var(--dark-theme-btn-bg)!important;
    background-color: black!important;
    padding: 0 2px!important;
    width: 24px;
    height: 24px;
    font-size: 18px;
    line-height: 18px;
    border-left-width: 1px;
}

.radio-btn:first-child {
    border-radius: 3px 3px 0px 0px;
}

.radio-btn:last-child {
    border-radius: 0px 0px 3px 3px;
}
 
.radio-btn.active {
    color: var(--dark-theme-btn-color) !important;
    background-color: var(--dark-theme-btn-bg) !important;
}

.radio-btn:not(:first-child) {
    border-top: 0px;
}

.radio-btn:hover {
    color: var(--dark-theme-btn-color);
    background-color: var(--dark-theme-btn-hover-bg)!important;
}

.btn:hover,
.btn:active {
    color: var(--dark-theme-btn-color);
    background-color: var(--dark-theme-btn-hover-bg);
}

.btn:focus {
    background-color: var(--dark-theme-btn-bg);
    color: var(--dark-theme-btn-color);
}

.btn[disabled] {
    background-color: var(--dark-theme-btn-disabled-bg);
    color: var(--dark-theme-btn-disabled-color);

}

.rotate::after {
    content: "\e909";
}

.pan::after {
    content: "\e908";
}