.container {
    position: absolute;
    display: flex;
    flex-direction: column;
    bottom: 0;
    right: 20px;
    justify-content: space-evenly;
    margin-bottom: 20px;
}
.move-buttons {
    display: flex;
}
.zoom-buttons {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 60px;
}

.btn {
    background-color: var(--dark-theme-btn-bg);
    color: var(--dark-theme-btn-color);
    border-radius: 3px!important;
}

.btn:hover, .btn:active {
    color: var(--dark-theme-btn-color);
    background-color: var(--dark-theme-btn-hover-bg);
}

.btn:focus {
    background-color: var(--dark-theme-btn-bg);
    color: var(--dark-theme-btn-color);
}

.btn[disabled] {
    background-color: var(--dark-theme-btn-disabled-bg);
    color: var(--dark-theme-btn-disabled-color);

}

.rotate::after {
    content: "\e909";
}

.pan::after {
    content: "\e908";
}