.menu {
    width: var(--dropdown-menu-width);
}

.menu.narrow {
    width: calc(var(--dropdown-menu-width) - 50px);
}

.menu svg {
    fill: var(--dark-theme-menu-text-color);
}

.menu :global(.ant-dropdown-menu-item):focus-within,
.menu :global(.ant-dropdown-menu-submenu):focus-within {
    outline: 1px solid var(--dark-theme-dropdown-menu-item-focus-border);
    border-radius: 6px;
    outline-offset: -2px;
}
.menu :global(.ant-dropdown-menu-item) a,
.menu :global(.ant-dropdown-menu-submenu) a {
    color: var(--dark-theme-dropdown-menu-item-color);
}

.menu :global(.ant-dropdown-menu-item) a:focus,
.submenu :global(.ant-dropdown-menu-item) a:focus {
    color: var(--dark-theme-dropdown-menu-item-focus-color);
}

.menu :global(.ant-dropdown-menu-item) a:hover,
.menu :global(.ant-dropdown-menu-submenu) a:hover {
    color: var(--dark-theme-dropdown-menu-item-hover-color);
}
