.container :global(.ant-collapse-header-text) {
    font-weight: 500;
    font-size: 16px;
}

.container :global(.ant-collapse-header) {
    padding-left: 0px !important;
}

.container :global(.ant-input) {
    width: 220px;
}

.container :global(.ant-collapse-borderless > .ant-collapse-item) {
    border-bottom: 1px solid var(--heather);
}

.container :global(.ant-collapse-borderless > .ant-collapse-item:last-child) {
    border-bottom: 0;
}