.container {
    color: var(--dark-theme-text-color-bright);
}

.agent-selected {
    min-height: 265px;
}

.content-visible {
    padding: 16px 14px 16px 24px;
}

.collapsed {
    padding: 14px 8px 8px 16px;
}

.title {
    display: flex;
    justify-content: space-between;
    margin-bottom: 4px;
}

h3 {
    color: var(--pure-white);
    font-weight: 800;
    margin: 0px;
}

.icon {
    background-color: transparent;
    border: none;
    color: var(--warm-gray);
    font-size: 18px;
}

.title:hover .icon {
    color: var(--pure-white);
}

.rotate span {
    transform: rotate(180deg);
}

.panel-contents {
    color: var(--medium-gray);
}

.no-agent-row {
    display: flex;
    flex-direction: column;
    color: var(--white-two);
}

.no-agent-row p {
    margin-bottom: 4px;
}

.no-agent-text {
    font-size: 12px;
    font-weight: 100px;
}

.agent-missing-text {
    font-size: 13px;
    font-weight: 400;
}

.row {
    display: flex;
    font-size: 12px;
    font-weight: 100;
}

.key {
    color: var(--medium-gray);
    min-width: 120px;
    align-self: flex-start;
}

.value {
    color: var(--white-two);
}

.divider {
    background-color: var(--dim-gray-two);
    margin: 4px 0px;
}