.menu {
    width: calc(var(--dropdown-menu-width) - 50px);
    box-shadow: 0 1px 3px black;
}

.menu svg {
    fill: var(--dark-theme-menu-text-color);
}

.submenu {
    box-shadow: 0 1px 3px black;
}