@import "../../styles/colors.css";
@import "../../styles/constants.css";

.sider {
    height: calc(100vh - var(--header-height));
    left: 0;
    z-index: 100;
    padding-bottom: 0;
}
.sider.right {
    right: 0;
    left: inherit;
}

.sider.right :global(.ant-collapse-content-box) {
    padding: 0;
}

.sider :global(.ant-layout-sider-children) {
    overflow: scroll;
}

:global(.ant-collapse),
:global(.ant-collapse-header),
:global(.ant-collapse > .ant-collapse-item:last-child),
:global(.ant-collapse > .ant-collapse-item:last-child > .ant-collapse-header)
{
    border-radius: 0;
}

.sider :global(.ant-collapse) {
    border-top: 0;
    border-left: 0;
}

.trigger {
    color: red;
    position: absolute;
    top: 10px;
    right: -20px;
    z-index: 1000;
    font-size: 36px;
    background-color: yellow;
}

/* Seems like class .ant-layout-sider-trigger doesn't exist in the DOM
/* .sider :global(.ant-layout-sider-trigger) {
    position: inherit;
} */

/* .sider :global(.ant-layout-sider-zero-width-trigger) {
    position: absolute;
    top: 0px;
    border:none;
}

.sider.left :global(.ant-layout-sider-zero-width-trigger) {
    right: -30px;
} */

.sider i {
    position: absolute;
    top: 50%;
    left: 3.5px;
} 