@import "../../styles/colors.css";
@import "../../styles/constants.css";

.sider {
    height: calc(100vh - var(--header-height));
    left: 0;
    z-index: 100;
    padding-bottom: 0;
}
.sider.right {
    right: 0;
    left: inherit;
}

.sider.right :global(.ant-collapse-content-box) {
    padding: 0;
}

.sider :global(.ant-layout-sider-children) {
    overflow: scroll;
}

:global(.ant-collapse),
:global(.ant-collapse-header),
:global(.ant-collapse > .ant-collapse-item:last-child),
:global(.ant-collapse > .ant-collapse-item:last-child > .ant-collapse-header)
{
    border-radius: 0;
}

.sider :global(.ant-collapse) {
    border-top: 0;
    border-left: 0;
}

.trigger {
    position: absolute;
    top: 3px;
    z-index: 500;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    background-color: var(--dark-purple-gray);
    cursor: pointer;
    box-shadow: 0 1px 3px black;
    display: flex;
    align-items: center;
    justify-content: center;
}

.trigger img {
    height: 20px;
}

.trigger.left {
    right: -35px;
}

.trigger.right {
    left: -35px;
}

.notCollapsed.left img, .collapsed.right img {
    transform: rotate(180deg);
}

.collapsed.left img, .notCollapsed.right img {
    transform: rotate(0deg);
}

.sider i {
    position: absolute;
    top: 50%;
    left: 3.5px;
} 