.container img {
    max-width: 800px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: -20px;
}

.container :global(.ant-collapse) {
    max-width: 750px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 2em;
    background-color: #ddd9ec;
    border: transparent;
    border-radius: 3px;
    font-size: 20px;
    box-shadow: 3px 3px 10px #a0a0a0;
}

.container :global(.ant-collapse > .ant-collapse-item) {
    border: none;
}

.container :global(.ant-collapse-content) {
    background-color: #f8f8f8;
    font-size: 16px;
    border: none;
}

.topLevelList > li {
    margin-bottom: 0.5em;
}