.content {
    display: block;
    margin: auto;
    padding: 2em;
    max-width: 1010px;
    font-size: 18px;
}

.intro {
    margin-top: 1.5em;
    margin-bottom: 1.5em;
    font-size: 20px;
}

.list-header {
    font-size: 20px;
}

.drag-drop-image {
    border-width: 0.5px;
    border-style: solid;
    margin: 0.5em;
}

/* Prevents image from being huge on larger screens */
@media screen and (min-width: 600px) {
    .drag-drop-image {
        width: 400px;
    }
}

.approach-block {
    margin-bottom: 2em;
}

/* Makes font size smaller and reduces whitespace on mobile */
@media screen and (max-width: 400px) {
    .approach-block {
        font-size: 0.7rem;
        padding: 0;
    }

    .approach-block .list-header {
        font-size: 0.8rem;
    }
}

:global(.ant-typography code) {
    margin-top: 2em;
    margin-bottom: 2em;
}