.content {
    display: block;
    margin: auto;
    font-size: 16px;
}

.text {
    max-width: 1200px;
    margin: auto;
}

.list {
    margin: 0;
    padding: 0;
    width: 100%;
}

.disc {
    list-style-type: disc;
}

.list li {
    font-size: 16px;
}

.list-header {
    padding-left: 20px;
    margin-bottom: 16px;
}

.drag-drop-image {
    margin: 1em;
    border-radius: 3px;
    box-shadow: 3px 3px 20px var(--text-gray);
}

/* Prevents image from being huge on larger screens */
@media screen and (min-width: 576px) {
    .drag-drop-image {
        width: 400px;
    }
}

:global(.ant-typography code) {
    margin-top: 2em;
    margin-bottom: 2em;
}