.card {
    width: 400px;
    padding: 15px 15px 5px 15px;
    background-color: var(--light-theme-card-bg-white);
    border: none;
}

.card :global(.ant-card-body) {
    padding: 0px;
}

.animated-thumbnail {
    display: none;
}

.thumbnail:hover .animated-thumbnail {
    display: block;
}

.thumbnail:hover .static-thumbnail {
    display: none;
}

.card-text {
    font-size: 16px;
}

.version-and-time {
    display: flex;
    justify-content: space-between;
    margin-top: 4px;
    font-size: 16px;
}

.version-tag, .simulated-time {
    margin: 0 !important;
}

.card-title {
    font-weight: 600;
}

.publication {
    font-size: 14px;
}

.journal {
    font-style: italic;
}

.legalese {
    font-size: 10px;
    color: var(--light-theme-faint-text);
}

.legalese a {
    color: var(--light-theme-faint-text);
    text-decoration: underline;
}