h1, h2 {
    text-align: center;
    font-weight: 400;
    margin-top: 0px;
    margin-bottom: 0px;
    color: var(--light-theme-header-gray);
}

h1 {
    font-size: 36px;
}

h2 {
    font-size: 24px;
}

header {
    align-items: center;
}

img {
    width: 100%;
}

p {
    margin-bottom: 0.5em;
}