/* global styles
css modules not applied */

h1, h2 {
    text-align: center;
    font-weight: 400;
}

h1 {
    color: var(--light-theme-heading1-gray);
    font-size: 36px;
}

h2 {
    color: var(--light-theme-heading2-gray);
    font-size: 24px;
}

header {
    padding: 0px;
}

img {
    width: 100%;
}

p {
    margin-bottom: 0.5em;
}

canvas:focus {
    outline: none;
}

@font-face {
    font-family: 'icomoon';
    src: url('./assets/fonts/icomoon.eot?ls9a6n');
    src: url('./assets/fonts/icomoon.eot?ls9a6n#iefix') format('embedded-opentype'),
        url('./assets/fonts/icomoon.ttf?ls9a6n') format('truetype'),
        url('./assets/fonts/icomoon.woff?ls9a6n') format('woff'),
        url('./assets/fonts/icomoon.svg?ls9a6n#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: block;
}

.ant-btn:focus, .ant-btn:hover {
    border-color: transparent!important;
}

.icon-moon {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak: never;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-star-empty1:before {
    content: "\e901";
}

.icon-star-part-filled:before {
    content: "\e900";
}

.icon-star-filled:before {
    content: "\e902";
}

.icon-enlarge:before {
    content: "\e989";
}

.icon-star-empty:before {
    content: "\e9d7";
}

.icon-star-full:before {
    content: "\e9d9";
}

.ant-tooltip-inner {
    border-radius: 3px;
    font-weight: 300;
    box-shadow: 2px 2px 3px black;
}