/* global styles
css modules not applied */

h1,
h2 {
    text-align: center;
    font-weight: 400;
}

h1 {
    color: var(--light-theme-heading1-gray);
    font-size: 36px;
}

h2 {
    color: var(--light-theme-heading2-gray);
    font-size: 24px;
}

h3 {
    font-size: 16px;
}

h5 {
    font-size: 14px;
}

header {
    padding: 0px;
}

img {
    width: 100%;
}

p {
    margin-bottom: 0.5em;
}

canvas:focus {
    outline: none;
}

@font-face {
    font-family: "icomoon";
    src: url("./assets/fonts/icomoon.eot?jthex9");
    src: url("./assets/fonts/icomoon.eot?jthex9#iefix")
            format("embedded-opentype"),
        url("./assets/fonts/icomoon.ttf?jthex9") format("truetype"),
        url("./assets/fonts/icomoon.woff?jthex9") format("woff"),
        url("./assets/fonts/icomoon.svg?jthex9#icomoon") format("svg");
    font-weight: normal;
    font-style: normal;
    font-display: block;
}

.ant-btn:focus,
.ant-btn:hover {
    border-color: var(--dark-theme-btn-hover-bg);
}

.icon-moon {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: "icomoon" !important;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

/* these class names are not being used, are but included here to 
keep track of what font glyphs are available.
To use one, the span must have the "icon-moon" class name, and then 
use the :after pseduo selector to input the content.
*/
.icon-focus:before {
    content: "\e90a";
    color: var(--icon-moon-color);
}

.icon-rotate:before {
    content: "\e909";
}

.icon-pan:before {
    content: "\e908";
}

.icon-star-empty1:before {
    content: "\e901";
}

.icon-star-part-filled:before {
    content: "\e900";
}

.icon-star-filled:before {
    content: "\e902";
}

.icon-enlarge:before {
    content: "\e989";
}

.icon-star-empty:before {
    content: "\e9d7";
}

.icon-star-full:before {
    content: "\e9d9";
}

.icon-step-back:before {
    content: "\e906";
}

.icon-step-forward:before {
    content: "\e907";
}

.ant-tooltip-inner,
.ant-popover-inner {
    background: var(--dark-theme-tooltip-bg) 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 4px var(--black);
    opacity: 1;
}