.menu {
    width: var(--dropdown-menu-width);
    box-shadow: 0 1px 3px black;
}

.menu svg {
    fill: var(--dark-theme-menu-text-color);
}

.menu :global(.ant-dropdown-menu-item) {
    padding-top: 3px;
    padding-bottom: 3px;
}

.menu :global(.ant-dropdown-menu-submenu-title) {
    padding-top: 3px;
    padding-bottom: 3px;
}

.menu :global(.ant-btn-ghost) {
    border: none;
    color: var(--dark-theme-menu-text-color);
    padding: 0;
    width: calc(var(--dropdown-menu-width) - 20px);
    text-align: left;
}

.menu :global(.ant-btn-ghost:hover) {
    color: var(--dark-theme-menu-text-hover);
}

.submenu {
    box-shadow: 0 1px 3px black;
    padding: 0;
    width: fit-content;
}